################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A1/A1/.vs/A1/v15/Browse.VC.opendb
/.vs/AlgoUE2019/v15
/.vs
/A1/A1/.vs/A1/v15
