################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/A1/A1/.vs/A1/v15/Browse.VC.opendb
/.vs/AlgoUE2019/v15
/.vs
/A1/A1/.vs/A1/v15
/A1/A1/.vs/inefficient/v15/ipch/6d20ad990db6fc2d.ipch
/A1/A1/.vs/inefficient/v15/Browse.VC.db
/A1/A1/.vs/inefficient/v15/Browse.VC.opendb
/A1/A1/.vs/inefficient/v15/Solution.VC.db
/A1/A1/.vs/inefficient/v15/Solution.VC.db-shm
/A1/A1/.vs/inefficient/v15/Solution.VC.db-wal
